<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="customer" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>customer</label>
			<tab>customer</tab>
			<resource>Shch_CustomerLog::config_shch_customerlog</resource>
			<group id="customer_log" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Customer Log</label>
				<field id="track_customer_connexions" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Track Customer Connexions</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
